@import "../../css/mixins";
@import "../../css/vars";

.bgSoftBlack {
  background-color: $blackGray;
}
.bgSoftGray {
  background-color: $bgSoft;
}
.customCircle {
  height: 2rem;
  width: 2rem;
}
.grpSexo {
  @media only screen and (max-width: 487px) {
    > label,
    > div {
      display: block;
    }
    > div {
      margin-bottom: 0.3rem;
    }
  }
  @media only screen and (min-width: 488px) {
    text-align: center;
    > label {
      margin-left: -35px;
    }
    div {
      justify-content: center;
    }
  }
}
.selectF {
  @media only screen and (min-width: 488px) {
    @include beforehifen(7px, -7px);
    margin-left: 7px;
  }
}
