@import "../../../css/vars";

.menuNav {
  > div {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      &::before {
        content: "○";
        color: $primary;
        font-size: 0.5rem;
      }
    }
    a {
      font-size: 80%;
    }
  }
}
