.menuNav{
  > div{
    display: flex;
    align-items: center;
    &:not(:first-child){
      &::before{
        content: '○';
        color: #457b82;
        font-size: 0.5rem;
      }
    }
    a {
      font-size: 80%;
    }
  }
}