$primary: #457b82;
$body-bg: #fffbed;

@import "~bootstrap/scss/bootstrap";

//RESET

table > tbody > tr > td:last-child,
table > thead > tr:last-child > th:last-child {
  position: sticky;
  position: -webkit-sticky;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: #fffbed;
}

input[type=checkbox]{
  display: none;
}

.form-control, .form-select{
  border-radius: 0;
  border: 2px solid ;
}

//GENERAL

.text-blue {
  color: $primary;
}

.text-light-custom {
  a {
    color: $body-bg;
  }
  color: $body-bg;
}
.bgBlack {
  background-color: #1f1f1f;
}
body {
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
.btn-selected{
  label{
    background-color: #2b2b2b;
    color: #eae4d6;
  }
}